@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set margin and padding to zero for full screen */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; /* Prevent scrolling */
}

.videoContainer {
  position: relative;
  height: 100vh; /* Full viewport height */
  width: 100vw;  /* Full viewport width */
  overflow: hidden; /* Ensure video stays within the viewport */
}

#myVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  object-fit: cover; /* Ensure video covers the screen */
  z-index: -1; /* Ensure video stays behind other content */
}
